body {
    background: linear-gradient(135deg, #001d26, #003d4d, #006064);
    background-size: 600% 600%;
    animation: Gradient 60s ease infinite;
}

@keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

.glassmorphism {
    width: 60%;
    padding: 20px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
}

.glassmorphism.resume {
    max-width: 80%;
    margin-bottom: 50px;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}
